body{
    background: lightgreen;
}

table{
    border: 1px solid black;
}

.fondoTabla{
    background-color: lightgreen;
}


.boxContainer{
    width: 400px;
    background-color: aqua;
    height: 300px;
}

.boxContainer2{
    background-color: orange 
}


/* @media (min-width: 800px) {
    .boxContainer{
        background-color: red;
    }
} */



@media(max-width: 767.99px){
 body{
    background-color: lightsalmon;
 }
}


#texto1{
    text-align: center;
}
#texto2{
    text-align: right;
    
}
/* #texto3{
    text-align: left;

} */
#texto3{
   text-align: end;
}